/* Portfolio Site Colour Scheme:

0x233143 (Prussian Blue)
0x07B8ED (Cyan Process)
0x38E000 (Lime Green)
0x009275 (Illuminating Emerald)
0xC56CEF (Heliotrope)

*/

body {
    margin: 0px;
    height: 100vh;
}

canvas {
    display: block;
}

h1 {
    position: absolute;
    top: 2em;
    left: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 7em;
    width: auto;
    line-height: 0.8em;
    border: 5px solid black;
    padding: 0.2em;
}